.app-sites-pages-page-component {
    height: 100%;
    [data-object-name="split"] {
        width: 100%;
        height: 100%;
        [data-object-name="folders-pane"], [data-object-name="publications-pane"] {
            &.app-component-shown {
                display: grid;
            }
            grid-template-rows: 30px calc(100% - 30px);
        }
        .app-component-split-left {
            flex: 0 0 20%;
        }
        .app-component-split-right {
            padding-left: 20px;
        }
        .app-component-split-handler {
            flex: 0 0 7px;
            width: 7px;
            background: #f1f1f1;
        }
        .app-ui-tree-component {
            padding-top: 10px;
        }
    }
    
}