.app-manager-tree-component {
    padding: 0px 10px 10px;

    .nodes .node > div:not([data-object-name]) > span {

        display: flex;
        flex-wrap: nowrap;

        .inlist, .intemplate {
            color: red;
        }
        .greed {
            color: gray;
        }
        .type,
        .method,
        .viewer {
            color: gray;
        }
    
        .ellipsis {
            text-overflow: ellipsis;
            overflow: hidden; 
        }
        .calculatable {
            color: orange;
        }
    
    }


}