.app-sites-storages-page-component {
    height: 100%;
    [data-object-name="storages-pane"] {
        &.app-component-shown {
            display: grid;
        }
        grid-template-rows: 40px calc(100% - 40px);
        height: 100%;
    }

    [data-object-name="storages-cannotchange"] {
        width: 100%;
        height: 100%;
        &.app-component-shown {
            display: flex;
        }
        align-items: center;
        justify-content: center;
        
    }

    [data-object-name="modules"] {
        height: 100%;
        overflow: auto;
    }

    [data-object-name="split"] {
        width: 100%;
        height: 100%;
        > .app-component-split-left {
            flex: 0 0 25%;
            height: 100%;
            overflow: auto;
            [data-object-name="split2"] {
                width: 100%;
                height: 100%;
                > .app-component-split-left {
                    flex: 0 0 50%;
                    height: 100%;
                    overflow: auto;
                }
                > .app-component-split-right {
                    height: 100%;
                    padding-left: 10px;
                    overflow: auto;
                    [data-object-name="right"] {
                        overflow: auto;
                    }
                }
                > .app-component-split-handler {
                    height: 100%;
                }
            }        
        }
        > .app-component-split-right {
            height: 100%;
            padding-top: 10px;
            overflow: auto;
        }
        > .app-component-split-handler {
            width: 100%;
        }
    }

    [data-object-name="left"] {
        overflow: auto;
    }

    [data-object-name="bottom"] {
        overflow: auto;
    }

    
}